.u-section-1 .u-sheet-1 {
  min-height: 435px;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 450px;
  height: 300px;
  margin: 59px auto 0 59px;
}

.u-section-1 .u-text-1 {
  margin: -300px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: Changa;
  margin: -43px 54px 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -227px;
  }
}